aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
Makefile.in
Makefile
src/ver_lettura
src/ver_scores_dballe
src/ver_scores_prob_dballe
src/ver_scores_prob_dballe_resampling
verifica.sh
.deps
.libs
*.o
*.lo
*.la
*.mod
*~
\#*\#
